@model IEnumerable<Fortigate_Gui.Models.Ip4Policy>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><i class="fas fa-code"></i> Ip4Policy</h1>
<div class="row">
    <p class="col-3 d-inline">
        <a onclick="showInPopup('@Url.Action("Create","Ip4Policy",null,Context.Request.Scheme)','Create Ip4Policy')" class="btn btn-primary">Create New</a>
    </p>

    <input class="col-6 form-control d-inline float-right" type="search" id="searchpolicy" placeholder="Search Ip4Policy..." />
</div>
<table class="table" id="policytable">
    
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.SourceInterface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationInterface)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.SourceAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAddress)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Type)
            </th>*@
            <th></th>
        </tr>
    
    
@foreach (var item in Model) {
        <tr class="Search">
            @*<td>
                @Html.DisplayFor(modelItem => item.SourceInterface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationInterface)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SourceAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationAddress)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>*@
            <td>
                <a onclick="showInPopup('@Url.Action("Edit","Ip4Policy",new { id = item.Ip4PolicyID },Context.Request.Scheme)','Edit Ip4Policy')" class="btn btn-success">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Edit
                </a>
                <form asp-action="Delete" asp-route-id="@item.Ip4PolicyID" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></button>
                </form>
                <a asp-controller="Home" asp-action="AddIp4Policy" class="btn btn-primary" asp-route-id="@item.Ip4PolicyID">Add Conffile</a>
            </td>
        </tr>
}
    
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1) 
                return true;
        }
        $("#searchpolicy").keyup(function () {
            var searchText = $("#searchpolicy").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>