@model IEnumerable<Fortigate_Gui.Models.Ip4Policy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SourceInterface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationInterface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SourceInterface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationInterface)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ip4PolicyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ip4PolicyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ip4PolicyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
