@model IEnumerable<Fortigate_Gui.Models.Interface>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vdom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryIp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnumAcces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnumMode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vdom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondaryIp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subnet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnumAcces.EnumAccesID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnumMode.EnumModeID)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("Edit","Interface",new { id = item.InterfaceID },Context.Request.Scheme)','Edit Interface')" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.InterfaceID" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <button type="submit" class="btn btn-danger" ><i class="fas fa-trash" aria-hidden="true"></i></button>
                    </form>
                    <a asp-controller="Home" asp-action="AddInterface" class="btn btn-primary" asp-route-id="@item.InterfaceID">Add Conffile</a>
                </td>
            </tr>
        }
    </tbody>
</table>
