@model IEnumerable<Fortigate_Gui.Models.Interface>
    <script>
        $(document).ready(function () {
            $("#datatable").DataTable();
        });
    </script>

<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Physical
            </th>
            <th>
                Type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subnet)
            </th>   
            <th>
                Mode
            </th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnumPhysical.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnumType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subnet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnumMode.Name)
                </td>
                <td class="text-right">
                    <a onclick="showInPopup('@Url.Action("Edit","Interface",new { id = item.InterfaceID },Context.Request.Scheme)','Edit Interface')" class="btn btn-outline-danger"><i class="btn-outline-danger far fa-edit"></i></a>
                    <form asp-action="Delete" asp-route-id="@item.InterfaceID" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <button type="submit" class="btn btn-outline-danger"><i class="far fa-trash-alt" aria-hidden="true"></i></button>
                    </form>
                    <a asp-controller="Home" asp-action="AddInterface" class="btn btn-outline-danger" asp-route-id="@item.InterfaceID"><i class="far fa-plus-square"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
