@model IEnumerable<Fortigate_Gui.Models.VpnPortal>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PortalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TunnelMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SplitTunneling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoConnect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeepAlive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SavePassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpPool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SplitTunnelingRoute)
            </th>
           
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PortalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TunnelMode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SplitTunneling)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebMode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AutoConnect)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeepAlive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SavePassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IpPool)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SplitTunnelingRoute)
                </td>
                
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit", "VpnPortal", new { id = item.VpnPortalID}, Context.Request.Scheme)', 'Edit VPN Portal')" class="btn btn-outline-success"><i class="far fa-edit"></i></a>
                    <form asp-action="Delete" asp-route-id="@item.VpnPortalID" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <button type="submit" class="btn btn-outline-danger"><i class="fas fa-trash" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

