@model IEnumerable<Fortigate_Gui.Models.Zone>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ZoneID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ZoneID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ZoneID">Delete</a>
                    <a asp-controller="Home" asp-action="AddZone" asp-route-id="@item.ZoneID" class="btn btn-primary">Add conffile</a>
                </td>
            </tr>
        }
    </tbody>
</table>
