@model IEnumerable<Fortigate_Gui.Models.FortiUser>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit", "User", new { id = item.FortiUserID}, Context.Request.Scheme)', 'Update User')" class="btn btn-success">Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.FortiUserID" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
