@model IEnumerable<Fortigate_Gui.Models.Group>

<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-right">
                    <a onclick="showInPopup('@Url.Action("AddOrEdit", "Group", new { id = item.GroupID}, Context.Request.Scheme)', 'Edit Group')" class="btn btn-outline-danger"><i class="btn-outline-danger far fa-edit"></i></a>
                    <form asp-action="Delete" asp-route-id="@item.GroupID" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <button type="submit" class="btn btn-outline-danger"><i class="far fa-trash-alt" aria-hidden="true"></i></button>
                    </form>
                    <a asp-controller="Home" asp-action="AddGroup" class="btn btn-outline-danger" asp-route-id="@item.GroupID"><i class="far fa-plus-square"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#datatable").DataTable();
    });
</script>
