@model IEnumerable<Fortigate_Gui.Models.VpnSetting>
    <script>
        $(document).ready(function () {
            $("#datatable").DataTable();
        });
    </script>

<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServerCert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceInterface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultPort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VpnPortal)
            </th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerCert)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceInterface)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultPort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VpnPortal.IpPool)
                </td>
                <td class="text-right">
                    <a onclick="showInPopup('@Url.Action("AddOrEdit", "VpnSetting", new { id = item.VpnSettingID}, Context.Request.Scheme)', 'Edit VPN Setting')" class="btn btn-outline-danger"><i class="btn-outline-danger far fa-edit"></i></a>
                    <form asp-action="Delete" asp-route-id="@item.VpnSettingID" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <button type="submit" class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                    </form>
                    <a asp-controller="Home" asp-action="AddVpnSetting" class="btn btn-outline-danger" asp-route-id="@item.VpnSettingID"><i class="far fa-plus-square"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>